@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-layout {
    /* border: 5px solid red; */
    display: flex;
    overflow-x: hidden;
}

.app-bar {
    /* border: 3px solid blue; */
}

.info-layout {
    width: 100%;
    /* border: 3px solid yellow; */
    margin-left: 12%;
}

.card-layout {
    /* border: 3px solid green; */
    max-width: 1570px;
}

.page-header h1 {
    font-family: Kanit;
    /* border: 3px solid black; */
    font-size: 40px;
    font-weight: 500;
}

.ann-con::-webkit-scrollbar{
    width: 10px;
    background-color: white;
    border-radius: 5px;
}

.ann-con::-webkit-scrollbar-thumb{
    background-color: #1667C2;
    border-radius: 5px;
}


.ann-con {
    /* border: 1px solid red; */
    overflow-y: scroll;
    max-height: 275px;
}

