@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}

body {
    position: relative;
    min-width: 100vh;
    width: 100%;
    background-color: #E4E9F7;
}

.sidebar {
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
}

.logo {
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.psu-icon {
    width: 60px;
    /* border: 1px solid black; */
}

.title {
    /* border: 1px solid black; */
    color: #143B6C;
    width: fit-content;
    justify-content: center;
}

.menu-text {
    text-decoration: none;
    font-family: Kanit;
    font-size: 20px;
    color: #707070;
    font-weight: 400;
    /* border: 1px solid red; */
    padding-left: 9px;
}

.contents {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45%;
    /* border: 1px solid black; */
    padding-top: 1rem;
    list-style: none;
}

.contents li {
    justify-content: center;
    height: 50px;
    display: flex;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 2rem auto;
    /* padding-bottom: 40px; */
    
}
.contents a {
    /* border: 1px solid black; */
    width: 90%;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    transition: all 0.1s ease;
    align-items: center;
}

.contents a:hover svg,
.contents a:hover .menu-text{
    color: white;
}

.contents a:hover {
    background-color: #143B6C;
}

.user-info-container{
    /* border: 1px solid black; */
    /* margin-bottom: 1rem;
    bottom: 0; */
    /* position:absolute; */
    width: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-info-text {
    /* border: 1px solid black; */
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user-info-text h1 {
    font-size: 15px;
    height: 20px;
    color: #143B6C;
    /* overflow: hidden;
    width: 95.5px; */
}

.user-info-text p {
    font-size: 13px;
    color: #143B6C;
}

.user-info {
    /* border: 1px solid red; */
    width: 90%;
    height: 70px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #CAE9F5;
}

.logout-btn {
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 50px;
    /* border: 1px solid black; */
    list-style: none;
    cursor: pointer;
}

.logout-btn li {
    justify-content: center;
    height: 50px;
    display: flex;
    width: 100%;
    /* border: 1px solid blue; */
    margin: 2rem auto;
    /* padding-bottom: 40px; */
    
}
.logout-btn a {
    /* border: 1px solid black; */
    width: 90%;
    text-decoration: none;
    display: flex;
    border-radius: 10px;
    transition: all 0.1s ease;
    align-items: center;
}

.logout-btn a:hover svg,
.logout-btn a:hover .menu-text{
    color: white;
}

.logout-btn a:hover {
    background-color: #e04034;
}

@media screen and (max-width:1669px){
    .sidebar {
        height: 100vh;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
    }

    .psu-icon {
        width: 50px;
        /* border: 1px solid black; */
    }
    
    .title {
        /* border: 1px solid black; */
        color: #143B6C;
        width: fit-content;
        justify-content: center;
        font-size: 20px;
    }
    
    .menu-text {
        text-decoration: none;
        font-family: Kanit;
        font-size: 16px;
        color: #707070;
        font-weight: 400;
        /* border: 1px solid red; */
        padding-left: 9px;
    }
    
    .user-info-container{
        /* border: 1px solid black; */
        /* margin-bottom: 1rem;
        bottom: 0; */
        /* position:absolute; */
        width: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    
    .logout-btn {
        position: fixed;
        bottom: 0;
        margin-bottom: 1rem;
        display: flex; 
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        /* border: 1px solid black; */
        list-style: none;
        cursor: pointer;
    }
    
    
}